<mat-toolbar *ngIf="mensajeExito" color="accent">{{ mensajeExito }} </mat-toolbar>
<mat-toolbar *ngIf="mensajeError" color="warn">{{ mensajeError }} </mat-toolbar>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 mat-dialog-title>Paciente</h1>
<div mat-dialog-content>
  <div class="example-container">

    <mat-form-field appearance="legacy">
      <mat-label>Nombre del paciente</mat-label>
      <input [(ngModel)]="data.nombre_paciente" matInput placeholder="Nombre">
      <mat-hint>Ingrese el nombre del paciente</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Apellido del paciente</mat-label>
      <input [(ngModel)]="data.apellido_paciente" matInput placeholder="Apellido">
      <mat-hint>Ingrese el apellido del paciente</mat-hint>
    </mat-form-field>
      <button mat-raised-button type="button" (click)="buscarPaciente(data.nombre_paciente,data.apellido_paciente)">Buscar</button>

  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let paciente"> {{ paciente.nombre_paciente }} </td>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let paciente"> {{ paciente.apellido_paciente }} </td>
  </ng-container>
  <ng-container matColumnDef="cedula">
    <th mat-header-cell *matHeaderCellDef> Cedula </th>
    <td mat-cell *matCellDef="let paciente"> {{ paciente.cedula_paciente }} </td>
  </ng-container>

  <tr
    mat-row
    (click)="seleccionarPaciente(row.nombre_paciente, row.apellido_paciente, row.cedula_paciente)"
    [class.demo-row-is-clicked] = "data.cedula_paciente === row.cedula_paciente"
    *matRowDef="let row; columns: columns;"

  ></tr>

</table>


<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button [mat-dialog-close]="data" color="primary">Añadir</button>
</div>

</body>
</html>
