<mat-toolbar *ngIf="mensajeExito" color="accent">{{ mensajeExito }} </mat-toolbar>
<mat-toolbar *ngIf="mensajeError" color="warn">{{ mensajeError }} </mat-toolbar>

<div class="form-container">

  <form (submit)="crearFicha()">
    <div class="example-container">
      <p>
      <mat-form-field appearance="legacy">
        <mat-label>Fecha</mat-label>
        <input [disabled]="true" matInput [(ngModel)]="fecha" name="fecha">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Medico</mat-label>
        <input [disabled]="true" matInput [(ngModel)]="nombreApMedico" name="medico">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Especialidad</mat-label>
        <input [disabled]="true" matInput [(ngModel)]="especialidad" name="especialidad">
      </mat-form-field>
      </p>
    </div>
    <p>
    <div class="example-container">
    <button mat-raised-button type="button" (click)="openDialog()">Seleccionar Paciente</button>

    <mat-form-field appearance="legacy">
      <mat-label>Nombre del paciente</mat-label>
      <input [(ngModel)]="nombre_paciente" matInput placeholder="Nombre" name="nombre">
      <mat-hint>Seleccione un paciente y su nombre aparecerá aquí</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Apellido del paciente</mat-label>
      <input [(ngModel)]="apellido_paciente" matInput placeholder="Apellido" name="apellido">
      <mat-hint>Seleccione un paciente y su apellido aparecerá aquí</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Cédula del paciente</mat-label>
      <input [(ngModel)]="cedula_paciente" matInput placeholder="Cedula" name="cedula">
      <mat-hint>Seleccione un paciente y su cédula aparecerá aquí</mat-hint>
    </mat-form-field>
  </div>

    <div class="example-container">
    <p class="motivo">
      <mat-form-field appearance="legacy">
        <mat-label>Motivo de consulta</mat-label>
        <input [(ngModel)]="texto_motivo" [formControl]="motivoControl" matInput placeholder="Motivo" name="motivo">
        <mat-hint>Escriba aquí el motivo por el que el paciente esta consultando</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Diagnóstico</mat-label>
        <input [(ngModel)]="diagnostico" [formControl]="diagnosticoControl" matInput placeholder="Escriba el diagnóstico aquí" name="diagnostico">
        <mat-hint>Escriba el diagnóstico del paciente</mat-hint>
      </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Tratamiento</mat-label>
        <input [(ngModel)]="tratamiento" [formControl]="tratamientoControl" matInput placeholder="Escriba el tratamiento aquí" name="tratamiento">
        <mat-hint>Escriba el tratamiento del paciente</mat-hint>
      </mat-form-field>
      <button mat-raised-button type="button" (click)="agregarMotivo(motivoControl.value,diagnosticoControl.value,tratamientoControl.value)">Añadir Motivo</button>

    </p>

    </div>

    <table mat-table [dataSource]="motivos" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="texto_motivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </th>
        <td mat-cell *matCellDef="let motivo"> {{ motivo.texto_motivo }} </td>
      </ng-container>
      <ng-container matColumnDef="diagnostico">
        <th mat-header-cell *matHeaderCellDef> Diagnostico </th>
        <td mat-cell *matCellDef="let motivo"> {{ motivo.diagnostico }} </td>
      </ng-container>
      <ng-container matColumnDef="tratamiento">
        <th mat-header-cell *matHeaderCellDef> Tratamiento </th>
        <td mat-cell *matCellDef="let motivo"> {{ motivo.tratamiento }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let motivos; columns: columns"></tr>
    </table>



    <button mat-raised-button color="primary">Crear Ficha</button>
  </form>

</div>
