<mat-toolbar *ngIf="mensajeExito" color="accent">{{ mensajeExito }} </mat-toolbar>
<mat-toolbar *ngIf="mensajeError" color="warn">{{ mensajeError }} </mat-toolbar>

<h1 mat-dialog-title>Identificación del médico</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Usuario</mat-label>
      <input [(ngModel)]="data.usuario" matInput placeholder="Nombre">
      <mat-hint>Ingrese su usuario</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Contraseña</mat-label>
      <input [(ngModel)]="data.password" matInput placeholder="Apellido">
      <mat-hint>Ingrese la contraseña</mat-hint>
    </mat-form-field>
  </p>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" color="primary">Aceptar</button>
</div>
