<div>
  <button mat-raised-button color="primary" type="button" (click)="openDialog()">Crear una ficha</button>
  <button mat-raised-button color="primary" routerLink="/historial">Ver historial de pacientes</button>
</div>
